
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background:#f1f5f8;
  color:#222;

}

h1{
  color:#fff;
}

.book-info{
  width:90vw;
  max-width: 1170px;
  margin:2rem auto;
  display: grid;
  gap: 2trem;
}

.book{
  background:#fff;
  border-radius: 1rem;
  padding:2rem;
  margin-left:10px;
  display: flex;

}



.book h2{
  margin-top:0.5rem;
  color:black;
}


@media (max-width: 768px) {
  .book {
    margin-bottom: 30px;
  }
  .book img {
    max-width: 150px;
  }
}


.btn {
 
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  background-color: #23a1d1; /* blue */
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.btn:hover {
  background-color: #1f90bb; /* Darker blue */
}


.btn:active {
  transform: translateY(2px);
}
